.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 50px -15px #3B5173;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    .selected {
        width: 100%;
        p {
            font-size: larger;
            font-family: 'Raleway', sans-serif;
            text-shadow: 0px 0px 35px #3B5173;
            color: #3B5173;
            text-align: center;
            border-bottom: 2px solid #3B5173;
            width: 25%;
            margin: auto;
            font-weight: 800;
        }
    }
    .button {
        &:hover {
            cursor: pointer;
        }
    }
    .monogram {
        background-image: asset-url('logo.png');
        height: 70px;
        width: 100%;
        max-width: 216px;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    .unselected {
        width: 100%;
        p {
            text-align: center;
            font-weight: 300;
            color: #3B5173;
            font-size: larger;
            font-family: 'Raleway', sans-serif;
            text-shadow: 0px 0px 35px #3B5173;
            &:hover {
                border-bottom: 2px solid #3B5173;
                width: 25%;
                margin: auto;
                font-weight: 800;
            }
        }
    }
}