<div class='navbar'>
    <div class='button church item'>
        <a href="/pages/missa">
            <p>MISSA</p>
        </a>    
    </div>
    <div class='button party item'>
        <a href="/pages/festa">
            <p>FESTA</p>
        </a>    
    </div>
    <a class="button logo" href="/pages/homepage"></a>
    <div class='button list item'>
        <a href="#">
            <p>LISTA</p>
        </a>    
    </div>
    <div class='button rsvp item'>
        <a href="#">
            <p>RSVP</p>
        </a>    
    </div>
</div>