<div class='ct-navbar'>
    <div class="ct-button <%= params[:action] == 'casamento' ? 'ct-selected' : 'ct-unselected' %>">
        <a href='/30-maio'>
            <p class='ct-small'>30 de MAIO</p>
        </a>    
    </div>
    <a class='ct-small-button' href="/homepage">
        <%= image_tag('logo.png', class: 'ct-monogram') %>
    </a>
    <div class="ct-button <%= params[:action] == 'nos' ? 'ct-selected' : 'ct-unselected' %>">
        <a href='/nos'>
            <p class='ct-small'>SOBRE NÓS</p>
        </a>    
    </div>
</div>