<html>
  <body>
    <div class='ct-gift'>
      <% if @honey_moon %>
        <%= render 'honey_moon' %>
      <% else %>
        <%= render 'house_gift' %>
      <% end %>
    </div>
  </body>
</html>