<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>CASAMENTO - MISSA ONLINE</p>
        </div>
        <div class='ct-extra-info ct-text'>
          <p>
            Apesar de não poderem estar presencialmente 
            na igreja no dia 30 de Maio, não queremos 
            que deixem de nos acompanhar à distância, 
            e por isso vamos transmitir online a missa 
            do nosso casamento, no link em baixo (a ser 
            colocado com detalhes da hora mais próximo):
          </p>
        </div>
        <div class='ct-title ct-small'>
            <p>HORA</p>
        </div>
        <div class='ct-extra-info'>
            <p>brevemente</p>
        </div>
        <div class='ct-title ct-small'>
            <p>LINK</p>
        </div>
        <div class='ct-extra-info'>
            <p>brevemente</p>
        </div>
      </div>
    </div>
  </body>
</html>

