<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>CASAMENTO - MISSA ONLINE</p>
        </div>
        <div class='ct-extra-info ct-text'>
          <p>
            Apesar de não poderem estar presencialmente 
            na igreja no dia 30 de Maio, não queremos 
            que deixem de nos acompanhar à distância, 
            e por isso <b>vamos transmitir online a missa 
            do nosso casamento, no link em baixo</b> 
            (vamos enviar mensagem/email com link e 
            colocar também aqui no site):
          </p>
        </div>
        <div class='ct-title ct-small'>
            <p>HORA</p>
        </div>
        <div class='ct-extra-info'>
            <p>30/05/2020 | 12 horas</p>
        </div>
        <div class='ct-title ct-small'>
            <p>LINK</p>
        </div>
        <div class='ct-extra-info'>
            <p>brevemente</p>
        </div>
      </div>
    </div>
  </body>
</html>

