<html>
    <body>
        <div class='main'>
            <div class='intro'>
            <div class='title'>
            <p>FESTA</p>
            </div>
            <div class='extra-info'>
            <p>PLAZZA RIBEIRO TELLES</p>
            </div>
            <%= image_tag('festa_img.png', class: 'picture') %>
            </div>
        </div>
    </body>
</html>