<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
          <div class='ct-title'>
            <p>SAVE THE DATE</p>
          </div>
          <div class='ct-extra-info'>
            <p>30 de Novembro de 2020</p>
          </div>
      </div>
      <div class='ct-intro'>
        <div class='ct-extra-info ct-text'>
          <p>
            <br/>
            Queremos então muito festejar 
            com todos no dia 30 de Novembro. 
            <b>Pedíamos que confirmassem sff</b> 
            para o nosso email: <b>carlotatomas2020@gmail.com</b>. 
            Damos mais informações assim que for possível.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>