<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
          <div class='ct-title'>
            <p>MISSA</p>
          </div>
          <div class='ct-extra-info'>
            <p>IGREJA MATRIZ DE SÃO BARTOLOMEU - 17H30</p>
          </div>
          <%= image_tag('missa_img.png', class: 'ct-picture') %>
      </div>
      <div class='ct-story'>
          <div class='ct-title'>
            <p>COMO CHEGAR</p>
          </div>
          <%= image_tag('map_img.png', class: 'ct-picture') %>
          <div class='ct-poem'>
              <p>
                  <span class='ct-subtitle'>MORADA</span><br/>
                  <br/>
                  R. da Urbanização São José do Marco 1<br/>
                  2600-660, Castanheira do Ribatejo<br/><br/><br/>

                   <span class='ct-subtitle'>DIREÇÕES</span><br/>
                  <br/>
                  <%= link_to("link Google Maps", "https://goo.gl/maps/LuvHWXmpivC6Z9KD9", class: "ct-maps-link", target: "_blank") %><br/><br/><br/>
              </p>
          </div>
      </div>
      <div class='ct-intro'>
        <div class='ct-title'>
            <p>FESTA</p>
        </div>
        <div class='ct-extra-info'>
            <p>PLAZA RIBEIRO TELLES</p>
        </div>
        <%= image_tag('festa_img.png', class: 'ct-picture') %>
        <div class='ct-poem'>
          <p>
              <span class='ct-subtitle'>DRESS CODE</span><br/>
              <br/>
              Mulheres | de fazer parar o trânsito<br/>
              <br/>
              Homens | fato escuro (lindos também)<br/>
              <br/><br/>

              <span class='ct-subtitle'>MORADA</span><br/>
              <br/>
              Quinta das Areias, Estrada Nacional Nº1<br/> 
              2600-660,  Castanheira do Ribatejo<br/><br/><br/>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>