<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>CARLOTA & TOMÁS</p>
        </div>
        <div class='ct-extra-info'>
          <p>Informação sobre o nosso casamento</p>
        </div>
        <div class='ct-text'>
          <p>
            Querida Família e queridos Amigos,<br/>
            <br/>
            Em primeiro lugar esperamos que estejam todos bem e com  
            boa saúde! Estamos com muitas saudades de todos e com 
            muita vontade de estar convosco. Nós estamos ótimos e
            ansiosos por começar a nossa vida a 2!<br/>
            <br/>
            Como sabem, a pandemia veio trocar-nos as voltas e os 
            planos (a nós e a todos), e infelizmente não vai permitir
            fazer uma festa no dia 30 de Maio, e por isso <b>a festa do 
            nosso casamento vai ter que ficar adiada…</b><br/>
            <br/>
            Ficamos tristes que tenha que ser assim, mas é o que tem 
            que ser. Esperamos poder festejar com todos em grupos mais 
            pequenos, e desde já ficam todos convidados para virem 
            jantar a nossa casa (à vez claro, como manda o distanciamento social). <br/>
            <br/>
            No entanto, e porque não queremos adiar indefinidamente o 
            início da nossa vida a 2 (gostamos muito um do outro o que 
            é que se pode fazer…?), especialmente neste clima de 
            incerteza, <b>vamos manter a celebração do casamento na 
            igreja no dia <span class='underline'>30 de Maio às 12horas</span></b>, 
            apenas com pais e irmãos (ao estilo COVID).
            <b><span class='underline'>Vamos transmitir a missa online em direto</span></b>
            para quem quiser assistir (vamos pôr o <b><span class='underline'>
            link aqui no site</span></b>, e prometemos falar para a câmara no final).<br/>
            <br/>
            Muito obrigado pela vossa constante preocupação connosco, 
            sentimo-nos muito sortudos por ter tantos e tão bons amigos e família!<br/>
            <br/>
            Carlota e Tomás
          </p>
        </div>
        <%= image_tag('homepage_img.png', class: 'ct-picture') %>
      </div>
    </div>
  </body>
</html>