<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
          <div class='ct-title'>
            <p>CARLOTA & TOMÁS</p>
          </div>
          <div class='ct-extra-info'>
            <p>30 . 05 . 2020</p>
          </div>
          <%= image_tag('intro_img.png', class: 'ct-picture') %>
          <div class='ct-poem'>
              <p>
                  <span class='ct-subtitle'>Querida Família e queridos Amigos</span><br/>
                  <br/>
                  O dia mais aguardado <br/>
                  Está finalmente a chegar<br/>
                  Primeiro veio o noivado<br/>
                  Agora falta casar<br/>
                  <br/>
                  Neste dia começa a nossa caminhada<br/>
                  Juntos, uma família vamos criar<br/>
                  É uma felicidade para ser partilhada<br/>
                  Com missa e depois jantar<br/>
                  <br/>
                  Em Maio, Sábado 30 (trinta)<br/>
                  Guardem já a nossa data<br/>
                  Um dia cheio de pinta<br/>
                  Preparem o vestido e a gravata<br/>
                  <br/>
                  É para nós essencial<br/>
                  Contar convosco neste dia<br/>
                  Porque para momento tão especial<br/>
                  Nada como a vossa alegria<br/><br/>
              </p>
          </div>
      </div>
    </div>
  </body>
</html>