<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>CARLOTA & TOMÁS</p>
        </div>
        <div class='ct-extra-info'>
          <p>Informação sobre o nosso casamento</p>
        </div>
        <div class='ct-text'>
          <p>
            <span class='ct-subtitle'>Querida Família e queridos Amigos,</span><br/>
            <br/>
            Em primeiro lugar esperamos que estejam todos bem e com boa 
            saúde! Estamos com muitas saudades de todos e ansiosos por 
            estar convosco. Nós estamos ótimos e ansiosos por começar a 
            nossa vida a 2!<br/>
            <br/>
            Como sabem, a pandemia veio trocar-nos as voltas e os planos, 
            e infelizmente não vai permitir fazer uma grande festa no dia 
            30 de Maio. No entanto, não queremos deixar de festejar o nosso 
            casamento com todos. Por isso, <b>vamos alterar a data da festa do 
            nosso casamento – que terá uma missa de ação de graças e renovação 
            de votos – para o dia <span class='underline'>30 de Novembro</span>, por isso SAVE THE DATE</b>
            (e enviem-nos sff um email a dizer se podem). Vamos festejar a 
            dobrar para compensar!<br/>
            <br/>
            Não queremos adiar indefinidamente o início da nossa vida a 2, 
            especialmente neste clima de incerteza, e por isso <b>vamos manter 
            a celebração do casamento na igreja no dia 30 de Maio</b>, apenas com 
            pais e irmãos (ao estilo COVID). Gostávamos que estivessem connosco 
            nesse dia, mas como isso não vai ser possível, <b>vamos transmitir online 
            a missa para quem quiser</b> acompanhar-nos (vamos pôr o link aqui no site, 
            e prometemos falar para a câmara no final).<br/>
            <br/>
            Esperamos poder contar com todos <b><span class='underline'>online no dia 30 de Maio</span>, e presencialmente 
            no dia 30 de Novembro</b>, para podermos festejar todos juntos! Muito obrigado pela 
            vossa constante preocupação connosco, sentimo-nos muito sortudos por ter tantos 
            e tão bons amigos e família.
          </p>
        </div>
        <%= image_tag('homepage_img.png', class: 'ct-picture') %>
      </div>
    </div>
  </body>
</html>