<html>
  <body>
    <div class='ct-list'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>LISTA</p>
        </div>
        <div class='ct-extra-info'>
          <p>
            Para quem quiser oferecer-nos um presente 
            – são muito queridos – em baixo têm a lista 
            para a nossa casa (não temos nada portanto 
            há tudo para oferecer!) e a lua de mel, que 
            embora só a possamos fazer mais tarde, queremos 
            muito que aconteça.
          </p>
        </div>
        <div class='ct-main-pictures'>
          <div class='ct-picture-title'>
            <p>
              CASA
            </p>
            <%= link_to casa_path do %>
              <%= image_tag("casa_nova.png", class: 'ct-picture') %>
            <% end %>
          </div>
          <div class='ct-picture-title'>
            <p>
              LUA DE MEL
            </p>
            <%= link_to gift_path(@honey_moon.id) do %>
              <%= image_tag("lua_de_mel.png", class: 'ct-picture') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>