<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
        <div class='ct-title'>
          <p>CASAMENTO - MISSA ONLINE</p>
        </div>
        <div class='ct-extra-info ct-text'>
          <p>
            Apesar de não poderem estar presencialmente 
            na igreja no dia 30 de Maio, não queremos 
            que deixem de nos acompanhar à distância, 
            e por isso <b>vamos transmitir online a missa 
            do nosso casamento, no link em baixo:
          </p>
        </div>
        <div class='ct-title ct-small'>
            <p>HORA</p>
        </div>
        <div class='ct-extra-info'>
            <p>30/05/2020 | 12 horas</p>
        </div>
          <div class='row'>
            <div class='col-sm-12 col-md-6'>
              <div class='ct-title ct-big'>
                  <p>LINK</p>
              </div>
              <div class='ct-extra-info'>
                <p class='ct-link'>
                  <a href='https://www.youtube.com/watch?v=GzM4O54B5jU&feature=youtu.be'>Clicar para ver a Missa Live</a>
                </p>
                <p>
                  <br/>(Smart TV) pesquisar: <br/> <b>LSM Carlota & Tomás </b>
                </p>
              </div>
            </div>
            <div class='col-sm-12 col-md-6'>
              <div class='ct-title ct-big'>
                  <p>MISSAL</p>
              </div>
              <div class='ct-extra-info'>
                <p class='ct-link'>
                  <%= link_to 'Clicar para fazer download', missal_path %>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>

