<html>
  <body>
    <div class='main'>
      <div class='intro'>
          <div class='title'>
            <p>MISSA</p>
          </div>
          <div class='extra-info'>
            <p>IGREJA MATRIZ DE SÃO BARTOLOMEU - 17H30</p>
          </div>
          <%= image_tag('missa_img.png', class: 'picture') %>
          <div class='poem'>
              <p>
                  <span class="subtitle">DRESS CODE</span><br/>
                  <br/>
                  Mulheres | de fazer parar o trânsito<br/>
                  <br/>
                  Homens | fato escuro (lindos também)<br/>
                  <br/>

              </p>
          </div>
      </div>
      <div class='story'>
          <div class='title'>
            <p>COMO CHEGAR</p>
          </div>
          <%= image_tag('missa_mapa_img.png', class: 'picture') %>
          <div class='poem'>
              <p>
                  <span class="subtitle">MORADA</span><br/>
                  <br/>
                  R. da Urbanização São José do Marco 1<br/>
                  2600-660, Castanheira do Ribatejo<br/><br/><br/>

                   <span class="subtitle">DIREÇÕES</span><br/>
                  <br/>
                  <%= link_to("link Google Maps", "https://goo.gl/maps/LuvHWXmpivC6Z9KD9", class: "maps-link", target: "_blank") %><br/><br/><br/>
              </p>
          </div>
      </div>
  </div>
  </body>
</html>