<html>
  <body>
    <div class='ct-main'>
      <div class='ct-intro'>
      <div class='ct-story'>
          <div class='ct-title'>
            <p>A NOSSA HISTÓRIA</p>
          </div>
          <%= image_tag('nos_img.png', class: 'ct-picture') %>
          <div class='ct-poem'>
              <p>
                  Conheceram-se há uns anos<br/>
                  Ela criança, ele adolescente<br/>
                  Cada um tinha os seus planos<br/>
                  Sem saber o que vinha para a frente<br/>
                  <br/>
                  Ela era amiga da Maria<br/>
                  a irmã do Tomás<br/>
                  e pensava quando o via<br/>
                  “Mas que lindo rapaz”<br/>
                  <br/>
                  Ele sempre lhe achou piada<br/>
                  E achava-a uma brasa<br/>
                  “Tem uma pinta desgraçada”<br/>
                  Pensou na festa da Maria lá em casa<br/>
                  <br/>
                  Há 4 anos ganhou coragem<br/>
                  Depois de já ter perguntado por ela<br/>
                  No Instagram mandou-lhe mensagem<br/>
                  Na esperança que ela lhe desse trela<br/>
                  <br/>
                  Ele tentava conversar<br/>
                  Ela só respondia “Sim” e “Não”<br/>
                  Ele tava impressionar<br/>
                  Ela não lhe dava atenção<br/>
                  <br/>
                  Ele convidou-a repetidamente<br/>
                  Copo, café, chá, até jantar<br/>
                  E ela sempre indiferente<br/>
                  Sem querer aceitar<br/>
                  <br/>
                  E como “água mole em pedra dura”<br/>
                  Ela lá cedeu ao moço<br/>
                  Não foi verdura, salgado ou gordura<br/>
                  O 1º date foi pequeno-almoço<br/>
                  <br/>
                  Ele teve a coragem de pedir<br/>
                  Apenas 22 dias passados<br/>
                  E com o coração a explodir<br/>
                  Passaram a ser namorados<br/>
                  <br/>
                  Sempre muito unidos e juntinhos<br/>
                  Num namoro abençoado<br/>
                  Toda a gente dizia que estes pombinhos<br/>
                  Tinham que dar em noivado<br/>
                  <br/>
                  A 30 de Maio do ano passado<br/>
                  Foram a um passeio de barco no rio<br/>
                  Com o jantar de sushi e kinder preparado<br/>
                  Ele ajoelhou-se ao pôr do sol e pediu<br/>
                  <br/>
                  4 anos de felicidade e amizade<br/>
                  50 meses a namorar<br/>
                  Para com toda a alegria<br/>
                  Irmos finalmente casar<br/>
                  <br/>
                  Só queríamos agradecer<br/>
                  Por neste dia „connosco“ poderem estar<br/>
                  No dia 30 de Maio online vai ter que ser<br/>
                  Mas mais tarde juntos havemos de festejar<br/><br/><br/>
              </p>
          </div>
      </div>
  </div>
  </body>
</html>